@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  --color: #6e38f7;
  --color2: #363940;
  --color3: #837b7b;
  --textlite: #fff;
  --font: "Poppins", sans-serif;
  --link_font: 500 15px / normal var(--font);
  --title_font: 800 48px/68px var(--font);
  --descfont: 400 16px/180% var(--font);
  --btn_font: 500 20px / normal var(--font);
}
iframe.iframe {
  width: 100%;
}
body {
  display: flex;
  justify-content: end;
  flex-direction: column;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  border-radius: 15px;
  border: 1px solid #b1b1b1;
  height: 20px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient();
  border-radius: 15px;
}
a {
  text-decoration: none;
}
.lite {
  color: var(--color3);
}
.text_dark {
  color: var(--color2);
}
.text_primariy {
  color: var(--color);
}
.text {
  text-transform: uppercase;
}
.container {
  width: 1200px;
  height: auto;
  margin: 0 auto;
}
/* all end */
/* nabar start */
.navbar {
  width: 100%;
}
.navbar_box {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_nevs {
  display: flex;
  gap: 44px;
  align-items: center;
}
.right_news {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.link {
  text-transform: uppercase;
  font-feature-settings: "clig" off, "liga" off;
  font: var(--link_font);
  transition: all 0.3s;
}
/* anavbar end */
/* hero start */
.hero {
  background: linear-gradient(97deg, #fbf4e8 -0.07%, #f6f5fa 100%);
  width: 100%;
  height: 674px;
  display: flex;
}
.hero_body {
  width: 1300px;
  height: 608px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero_box {
  padding-top: 135px;
  margin-right: 50px;
}
h1.title {
  color: var(--Text, #363940);
  font: var(--title_font);
  width: 454px;
  text-transform: uppercase;
}
.bg_pimary {
  margin-top: 20px;
  padding: 17px 72px;
  border-radius: 10px;
  border: 1px solid #ffd00086;
  cursor: pointer;
  background-color: transparent;
  font: var(--btn_font);
  transition: all 0.3s;
}
.bg_pimary:hover {
  background-color: #ffd00086;
  transform: translate(10px, -10px);
  box-shadow: -10px 10px 3px #000;
}
.desc {
  color: var(--color2);
  font: var(--descfont);
  margin: 40px 0 30px;
}
.right {
  width: 744px;
  transform: translateY(50px);
  height: auto;
}
.right img {
  width: 744px;
  height: 546px;
}

/* hero end */
.iframe {
  width: 100%;
}
